<h1>Client Log In</h1>

<%= form_for :session, url: client_login_path do |f| %>
    <p>
        <%= f.label :u_name, "Username" %>
        <%= f.text_field :u_name %>
    </p>
    <p>
        <%= f.label :password, "Password" %>
        <%= f.password_field :password, autocomplete: "off" %>
    </p>
    <p>
        <%= f.submit "Log In"%>
    </p>
    
<% end %> 