<h1>Mannage Account</h1>

<% if @user.errors.any? %>
<h2>Failed to create new user</h2>
    <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li>
                <%= msg %>
            </li>
        <% end %>
    </ul>
<% end %>

<%= form_for @user do |f| %>

    <p>
        <%= f.label :name %>
        <%= f.text_field :names %>
    </p>
    <p>
        <%= f.label :lastname_1 %>
        <%= f.text_field :lastname_1 %>
    </p>
    <p>
        <%= f.label :lastname_2 %>
        <%= f.text_field :lastname_2 %>
    </p>
    <p>
        <%= f.label :email %>
        <%= f.email_field :email %>
    </p>
    <p>
        <%= f.label :username %>
        <%= f.text_field :username %>
    </p>
    <p>
        <%= f.label :password_digest, "Password" %>
        <%= f.password_field :password_digest %>
    </p>
    <p>
        <%= f.submit "Update Account"%>
    </p>
    
<% end %>

<p>
    <%= link_to 'Back to user list', users_path %>
</p>