<h1>This is show page</h1>

<table>
    <tr>
        <td>
            Name
        </td>
        <td>
            <%= @user.names.capitalize %> <%= @user.lastname_1.capitalize %> <%= @user.lastname_2.capitalize %>
        </td>
    </tr>
    <tr>
        <td>
            Username
        </td>
        <td>
            <%= @user.username %>
        </td>
    </tr>
    <tr>
        <td>
            Email
        </td>
        <td>
            <%= @user.email %>
        </td>
    </tr>
    <tr>
        <td>
            Password
        </td>
        <td>
            ********
        </td>
    </tr>
    
</table>