<h1>This Is Your Account Info, <%= @user.names.capitalize %></h1>

<table>
    <tr>
        <td>
            Name
        </td>
        <td>
            <%= @user.names.capitalize %> <%= @user.lastname_1.capitalize %> <%= @user.lastname_2.capitalize %>
        </td>
    </tr>
    <tr>
        <td>
            Username
        </td>
        <td>
            <%= @user.username %>
        </td>
    </tr>
    <tr>
        <td>
            Email
        </td>
        <td>
            <%= @user.email %>
        </td>
    </tr>
    <tr>
        <td>
            Password
        </td>
        <td>
            ********
        </td>
    </tr>
    <tr>
        <td>
            Registration Date
        </td>
        <td>
            <%= @user.created_at %>
        </td>
    </tr>
</table>

<p>
    <%= link_to 'Back to user list', users_path %> | <%= link_to 'Edit', edit_user_path %>
</p>