<h1>Registered Clients</h1>

<table>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Registered</th>
        </tr>
        
    <% @clients.each do |u| %>
        <tr>
            <td><%= u.names %> <%= u.ln1 %> <%= u.ln2 %></td>
            <td><%= u.u_name %></td>
            <td><%= u.email %></td>
            <td><%= time_ago_in_words(u.created_at) %> ago</td>
            <td><%= link_to 'Edit', edit_client_path(u) %></td>
            <td><%= link_to 'Show', client_path(u) %></td>
            <td><%= link_to 'Delete', client_path(u), method: :delete, data: {confirm: "Are you sure?"} %></td>
        </tr>
    <% end %>
</table>
<p>
    <%= link_to "Add new Client", new_client_path%>
</p>