<h1>This is HOME page!</h1>

<p>
    <%= link_to 'Go About Page', about_path %>
</p>
<p>
    <% if user_logged_in? %>
    <%= link_to 'Log Out', user_logout_path, method: :delete %>
    <% else %>
    <%= link_to 'User Login', user_login_path %>
    <% end %>
</p>
<p>
    <% if client_logged_in? %>
    <%= link_to 'Log Out', client_logout_path, method: :delete %>  |  
    <%= link_to 'My Profile', client_path(current_client) %>  |
    <%= link_to 'Edit Profile', edit_client_path(current_client) %>
    <% else %>
    <%= link_to 'Client Login', client_login_path %>  |  
    <%= link_to 'Client Sing Up!', new_client_path %>
    <% end %>
</p>