<h1>This is NEW ORDER page!</h1>

<%= form_for @order do |o| %>
    <%= fields_for @order.order_products do |op| %>
          <table>
           <tr>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Quantity
                </th>
            </tr>
            <% @products.each do |pd| %>
            <tr>
                <td>
                    <%= pd.name %>
                </td>
                <td>
                    $<%= pd.price %>
                </td>
                <td>
                    
                </td>
            </tr>
            <% end %>
    <% end %>
            <tr>
                <td>
                    <%= o.submit %>    
                </td>
            </tr>
        
    </table>
<% end %>