<h1>This is SHOW page</h1>

<p>
    Name: <%= @product.name %>
</p>
<p>
    Price: <%= @product.price %>
</p>
<p>
    In Stock: <%= @product.in_stock %>
</p>
<p>
    Perishable:  <%= @product.perish %>
</p>
<p>
    Expire on: <%= @product.xp_date %>
</p>
