<h1>Employee Base</h1>

<p>
    <%= link_to 'Show Clients', clients_path %> | <%= link_to 'Show Users', users_path %> | <%= link_to 'Show Orders', orders_path %> | <%= link_to 'Show Products', products_path %>
</p>
<p>
    <%= link_to 'Log Out', user_logout_path, method: :delete %>
</p>