<h1>
    <% if current_user.admin? %>
        Admin 
    <% else %>
        Employee 
    <% end %>
    Base
</h1>

<p>
    <% if current_user.admin? %>
        <%= link_to 'Show Clients', clients_path %> | <%= link_to 'Show Users', users_path %> | <%= link_to 'Show Orders', orders_path %> | <%= link_to 'Show Products', products_path %>
    <% else %>
        <%= link_to 'Show Orders', orders_path %> | <%= link_to 'Show Products', products_path %>
    <% end %>
</p>
<p>
    <% if user_logged_in? %>
        <%= link_to 'Log Out', user_logout_path, method: :delete %>
    <% end %>
</p>